<form class="container-fluid h-100">
  <div class="h-100 row d-flex flex-row justify-content-center align-items-center">
    <div id="registration" class="col-11 col-sm-10 col-md-7 col-lg-7 col-xl-5">
      <mat-card>
        <mat-card-title class="h6 text-muted text-uppercase">
          <strong>Registration</strong>
        </mat-card-title>
        <mat-card-content>
          <div class="container-fluid no-padding">

            <mat-horizontal-stepper [linear]="true">

              <!-- Start: User registration -->
              <mat-step [stepControl]="firstStepFormGroup">
                <form class="container-fluid h-100" [formGroup]="firstStepFormGroup">
                  <ng-template matStepLabel>Fill out your personal info</ng-template>

                  <!-- Start: First name -->
                  <div class="row no-gutters">
                    <div class="col-12">
                      <mat-form-field class="col-12 no-padding">
                        <input matInput placeholder="First name" formControlName="firstName" [(ngModel)]="userRegistrationData.firstName" required>
                        <mat-error *ngIf="firstStepFormGroup.get('firstName').invalid">{{ getFirstNameErrorMessage() }}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- End: First name -->

                  <!-- Start: Last name -->
                  <div class="row no-gutters">
                    <div class="col-12">
                      <mat-form-field class="col-12 no-padding">
                        <input matInput placeholder="Last name" formControlName="lastName" [(ngModel)]="userRegistrationData.lastName" required>
                        <mat-error *ngIf="firstStepFormGroup.get('lastName').invalid">{{ getLastNameErrorMessage() }}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- End: Last name -->

                  <!-- Start: Email -->
                  <div class="row no-gutters">
                    <div class="col-12">
                      <mat-form-field class="col-12 no-padding">
                        <input matInput placeholder="E-mail" formControlName="emailAddress" [(ngModel)]="userRegistrationData.emailAddress" required>
                        <mat-error *ngIf="firstStepFormGroup.get('emailAddress').invalid">{{ getEmailErrorMessage() }}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- End: Email -->

                  <!-- Start: Password -->
                  <div class="row no-gutters">
                    <div class="col-12">
                      <mat-form-field class="col-12 pt-2 no-padding">
                        <input matInput type="password" placeholder="Password" formControlName="password" [(ngModel)]="userRegistrationData.password" maxlength="100" required>
                        <mat-error *ngIf="firstStepFormGroup.get('password').invalid">{{ getPasswordErrorMessage() }}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- End: Password -->

                  <!-- Start: Confirm password -->
                  <div class="row no-gutters">
                    <div class="col-12">
                      <mat-form-field class="col-12 pt-2 no-padding">
                        <input matInput type="password" placeholder="Confirm password" formControlName="confirmPassword" required>
                        <mat-error *ngIf="firstStepFormGroup.get('confirmPassword').invalid">{{ getConfirmPasswordErrorMessage() }}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- End: Confirm password -->

                  <!-- Start: Go to next step button -->
                  <div class="row pt-4">
                    <div class="col-12 text-center">
                      <button mat-raised-button
                              class="col-12 col-sm-10 col-md-6 col-lg-5 col-xl-4"
                              [color]="'primary'"
                              matStepperNext>
                        Go to next step
                      </button>
                    </div>
                  </div>
                  <!-- End: Go to next step button -->

                  <!-- Start: Log In link -->
                  <div class="row pt-4">
                    <div class="col-12 text-center">
                      <span class="text-uppercase text-black-50">Already registered?</span>
                      <a href="" routerLink="/authentication"><strong>LOG IN</strong></a>
                    </div>
                  </div>
                  <!-- End: Log In link -->

                </form>
              </mat-step>
              <!-- End: User registration -->

              <!-- Start: Company registration -->
              <mat-step [stepControl]="secondStepFormGroup">
                <form class="container-fluid h-100" [formGroup]="secondStepFormGroup">
                  <ng-template matStepLabel>Fill out info about your company</ng-template>

                  <!-- Start: Company name -->
                  <div class="row no-gutters">
                    <div class="col-12">
                      <mat-form-field class="col-12 no-padding">
                        <input matInput placeholder="Company name" formControlName="companyName" [(ngModel)]="companyRegistrationData.companyName" required>
                        <mat-error *ngIf="secondStepFormGroup.get('companyName').invalid">{{ getCompanyNameErrorMessage() }}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- End: Company name -->

                  <!-- Start: Service type -->
                  <div class="row no-gutters">
                    <div class="col-12">
                      <mat-form-field class="col-12 pt-2 no-padding">
                        <mat-select formControlName="credentialsType" placeholder="Service type" required [(ngModel)]="companyRegistrationData.credentialsType">
                          <mat-option *ngFor="let service of serviceTypes" [value]="service">{{ service.title }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="secondStepFormGroup.get('credentialsType').invalid">{{ getPasswordErrorMessage() }}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- End: Service type -->

                  <!-- Start: Service URL -->
                  <div class="row no-gutters">
                    <div class="col-12">
                      <mat-form-field class="col-12 pt-2 no-padding">
                        <input matInput placeholder="Service URL" formControlName="credentialsUrl" [(ngModel)]="companyRegistrationData.credentialsUrl" required>
                        <mat-error *ngIf="secondStepFormGroup.get('credentialsUrl').invalid">{{ getServiceUrlErrorMessage() }}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- End: Service URL -->

                  <!-- Start: Service API key -->
                  <div class="row no-gutters">
                    <div class="col-12">
                      <mat-form-field class="col-12 pt-2 no-padding">
                        <input matInput placeholder="Service API key" formControlName="credentialsApiKey" [(ngModel)]="companyRegistrationData.credentialsApiKey" required>
                        <mat-error *ngIf="secondStepFormGroup.get('credentialsApiKey').invalid">{{ getServiceAPIKeyErrorMessage() }}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- End: Service API key -->

                  <!-- Start: Register button -->
                  <div class="row no-gutters">
                    <div class="col-12 text-center pt-4 d-flex justify-content-center align-items-center">
                      <button mat-raised-button
                              type="submit"
                              color="primary"
                              class="col-12 col-sm-10 col-md-6 col-lg-6 col-xl-6"
                              [disabled]="secondStepFormGroup.invalid || account.registrationInProgress()"
                              (click)="register()">
                        <div class="d-flex flex-row justify-content-center align-items-center">
                          <mat-spinner
                            [diameter]="20"
                            [mode]="'indeterminate'"
                            class="mr-3"
                            [color]="'primary'"
                            *ngIf="account.registrationInProgress()"></mat-spinner>
                          <span *ngIf="!account.registrationInProgress()">Register</span>
                          <span *ngIf="account.registrationInProgress()">Registration...</span>
                        </div>
                      </button>
                    </div>
                  </div>
                  <!-- End: Register button -->

                  <!-- Start: Log In link -->
                  <div class="row pt-4">
                    <div class="col-12 text-center">
                      <span class="text-uppercase text-black-50">Already registered?</span>
                      <a href="" routerLink="/authentication"><strong>LOG IN</strong></a>
                    </div>
                  </div>
                  <!-- End: Log In link -->

                </form>
              </mat-step>
              <!-- End: Company registration -->

            </mat-horizontal-stepper>

          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
